<ion-header>
  <ion-toolbar mode="ios" color="orange">
    <ion-buttons slot="end">
      <ion-icon id="closeModal" name="close" (click)="dismiss()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h1 style="font-size:18px;margin-top:20px;" text-center class="title">
      <ion-text color="orange">Por favor, cargá tus datos para ser <br> usuario de buscaton.com</ion-text>
    </h1>

    <ion-item class="items">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input required type="text"></ion-input>
    </ion-item>
  
    <ion-item class="items">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input required type="email"></ion-input>
    </ion-item>
  
    <ion-item class="items">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input required type="password"></ion-input>
    </ion-item>
  
    <ion-item class="items">
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input required type="password"></ion-input>
    </ion-item>
  
    <ion-button 
        style="margin:0 auto;margin-top:30px;display:block;width:80vw;" 
        shape="round" 
        expand="block" 
        fill="outline" 
        color="primary">
          registrarme
    </ion-button>

</ion-content>
