<ion-header>
  <ion-toolbar mode="ios" color="orange">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div [routerDirection]="'root'" routerLink="/home">
      <ion-img id="main-logo" src="../../assets/logo_white.png" alt="logo"></ion-img>
      <p id="main-title" style="position:absolute;top:2.2vh;">buscatõn</p>
    </div>
    <div id="caller" [routerDirection]="'root'" routerLink="/comerciante">
      <ion-img id="icon-commerce" src="../../assets/icon-comercio-blanco.svg" alt="¿sos comerciante?"></ion-img>
    </div>
    <p id="sosComerciante" style="position:absolute;top:2.2vh;">¿sos comerciante?</p>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="all">

    <h1 id="first-title">Guia Para El Comerciante</h1>
    <br>
    <p text-center style="font-weight:bold;">
      ¡Hola!
      <br>
      Bienvenido a buscatón para comercios.
    </p>
    <br>
    <p>
      En este sitio encontrarás toda la información acerca de nosotros y los servicios que tenemos para vos. 
      Además, desde aquí manejaras la administración de tu vidriera digital.
    </p>
    
    <p style="font-weight:bold;">Paso 1:</p>
    <p>
      Busca tu comercio por nombre, por dirección u ambas cosas y registralo. En caso de que no lo encuentres, 
      no te preocupes! Podrás sumarlo de manera sencilla haciendo click en “Sumálo ahora”
    </p>
    
    <p style="font-weight:bold;">Paso 2:</p>
    <p>
      Al momento de registrar tu comercio es necesario que te crees una cuenta de usuario. 
      La misma podrás crearla con la opción de Google, Facebook o tu mail personal ingresando 
      una contraseña que será valida únicamente para nuestro sitio.
    </p>
    
    <p style="font-weight:bold;">Paso 3:</p>
    <p>Ingresá los datos de tu comercio, todos los campos son necesarios. Es importante en esta etapa la confirmación correcta de tu dirección.</p>
    
    <p style="font-weight:bold;">Paso 4:</p>
    <p>
      Ya estas listo para comenzar a completar tu vidriera digital, ingresa a la misma haciendo click en “edita tu comercio”.
    </p>
    
    <h2>una imagen vale más que mil palabras…</h2>

    <p>
      Desde buscatón queremos ayudarte a lograr la mejor imagen de tu comercio en el mundo digital. 
      Es importante la primera impresión que los vecinos tengan de tu comercio. El contenido de tus 
      imágenes, la actualización de tus datos y la manera en que describes tus productos y servicios 
      tendrán un fuerte impacto en la decisión de compra.
    </p>
    
    <p>
      Dedica un tiempo en generar buenos contenidos, ordenar tu información y pensar en todos los 
      beneficios que puedas brindarles a tus potenciales clientes. Del resto, nos encargamos nosotros!
    </p>
    
    <h2>4 consejos para antes de comenzar</h2>
    <p>
      <strong>1-</strong> Armá una carpeta de fotos que contenga buenas imágenes de tu local, productos y servicios. 
      Como así también, cualquier imagen que creas que será representativa de tu negocio.
    </p>
    
    <p>
      <strong>2-</strong>  La carga de los datos lo podrás realizar desde cualquier dispositivo sea celular, tablet o pc. 
      Así mismo, la carga inicial es recomendable hacerla desde esta ultima.
    </p>
    
    <p>
      <strong>3-</strong> Familiarízate con los módulos que componen la vidriera digital, para que tengas en claro el 
      contenido que vas a necesitar para el armado de cada uno.
    </p>
    
    <p>
      <strong>4-</strong> En todo momento podrás ir viendo los avances de tu vidriera digital hasta que logres crear la 
      que más te gusta. (Haciendo click en el nombre de tu comercio dentro del menú).
    </p>
    
    <h2>armado del modulo vidriera digital</h2>
    <p>
      Apoyando el cursor en los diferentes iconos, podrás ver el nombre de cada uno de los módulos. 
      Recordá que en cualquier momento, al hacer click en el nombre de tu comercio, podrás ir viendo 
      el avance de tu vidriera digital.
    </p>
    
    <p style="font-weight:bold;">1- Logo:</p>
    <p>
      Es recomendable tener un logo, ya que el mismo te identifica. En caso de no tenerlo, no te preocupes! 
      podrás avanzar igual ya que no es un campo mandatorio.
    <br>
      Si contás con un logo, podrás colocarlo en tu vidriera digital arrastrando o adjuntando la imagen en el campo solicitado.
    </p>
    
    <p style="font-weight:bold;">2- Imagenes:</p>
    <p>
        Estas conformaran tu galería de fotos. Podrás colocar una cantidad ilimitadas de imágenes. 
        Es muy útil para poder mostrar tu local, equipo de trabajo, situaciones de trabajo, productos 
        y cualquier otra imagen que creas que representará a tu negocio.
    </p>
    
    <p style="font-weight:bold;">3- Portada:</p>
    <p>
        Es la imagen principal de tu negocio y la primer impresión de tu cliente. Podrás utilizar la preestablecida por buscatón 
        o colocar tu propia imagen. Esta misma puede ser una imagen del frente de tu comercio, de algún espacio en particular u 
        otra imagen que representará a tu negocio.
    </p>
    
    <p>Es importante la calidad de esta imagen!</p>
    
    <p style="font-weight:bold;">4- Dirección:</p>
    <p>
        Confirma la dirección y altura correcta. Además es importante colocar entre que calles se encuentra tú comercio para poder 
        facilitar la geolocalización en el mapa.
    </p>
    
    <p style="font-weight:bold;">5- Telefonos:</p>
    <p>
        Recomendamos utilizar un teléfono celular para habilitar el contacto directo con los vecinos por whatsApp. 
        Otros números telefónicos los podrás indicar en la sección “Nosotros”
    </p>
    
    <p>Si habilitas esta opción, es importante el tiempo de respuesta a tus clientes!</p>
    
    <p style="font-weight:bold;">6- Horarios:</p>
    <p>
        Mantené actualizado la grilla de horarios. Podrás ir modificando según tus necesidades.
      Especial atención en días feriados, fechas festivas o vacaciones para que los vecinos estén informados!
    </p>
    
    <p style="font-weight:bold;">7- Forma de pago:</p>
    <p>Mantené actualizado todos tus medios de pagos. Especificando las tarjetas de crédito habilitadas.</p>
    
    <p style="font-weight:bold;">8- Nosotros</p>
    <p>Esta será tu carta de presentación. Pudiendo resaltar las características y aspectos distintivos de tu comercio.</p>
    
    <p>Ej: Tu trayectoria, especialidades y todo lo que creas que será atractivo para tus potenciales clientes</p>
    
    <p style="font-weight:bold;">9-Contacto</p>
    <p>
        Si incluís tu mail, asegúrate de tener una revisión diaria de tu casilla de correo. 
        Es importante el tiempo de respuesta hacia los clientes!
    </p>
    
    <p style="font-weight:bold;">10-Rubros</p>
    <p>
        En esta sección deberas seleccionar los rubros (Tags o palabras claves) que mas identifiquen 
        a tu comercio. Podrás colocar mas de un rubro. Esto ayudará a posicionarte correctamente en 
        los procesos de búsqueda de los vecinos.
    </p>
    
    <p style="font-weight:bold;">11- Promociones</p>
    <p>
        Podrás elegir entre diferentes tipos de promociones que mejor se adapten para tu negocio. 
        Tendrás un máximo de 8 promociones vigentes a la vez. Estas se presentaran en formato de 
        cupones predeterminados donde vas poder completar los datos especifico de tu oferta incluyendo 
        ademas imágenes en caso de que necesites. Así mismo, podrás habilitarlas o suspenderlas cuando 
        quieras y las veces que quieras.
    </p>

    <p>
        Las promociones tienen una fecha de expiración que podrán ser reactivadas cuando lo desees. 
        También recibirás una notificación automática cuando las mismas estén por vencer.
    </p>
    
    <p>
        Cuando los vecinos se interesen en tu promoción podrán reservarla obteniendo un cupón (el mismo no 
        constituye un compromiso de compra). De manera simultánea recibirás un correo electrónico con los 
        datos personales del cliente.
    </p>
    
    <p>
        La operación se realizará en el comercio, en donde el cliente abonará y retirará el producto o utilizará 
        el servicio que obtuvo en la promoción. Buscatón no realiza ningún tipo de transacción entre el cliente y el comercio.
    </p>
    
    <p>
        No hace falta que lleven la impresión de cupones, podrán mostrártelo directamente desde su celular.
    </p>
    <br>
    <p style="font-weight:bold;">Tipo de promociones:</p>

    <p style="font-weight:bold;">Tradicionales</p>

    <p>Podrás encontrar 2x1, 3x3, Combo, Sale/Rebaja, Segunda Unidad, Descuentos Off, Porcentaje (%), etc.</p>
    
    <p style="font-weight:bold;">Bancarias</p>
    <p>podrás comunicar tus promociones bancarias vigentes.</p>
    
    <p style="font-weight:bold;">Ultimo Minuto</p>
    <p>
        Son ofertas super agresivas y finalizan en el día. Sirven para reducir stock de mercadería o atraer 
        clientes en horarios y días con baja demanda. Normalmente se abonan en efectivo y tienen fuerte 
        posicionamiento y difusión en el buscador.
    </p>
    
    <p style="font-weight:bold;">Festivas</p>
    <p>
        Son promociones para fechas especiales (día de los enamorados, día de la madre, día del padre, día del maestro, etc). 
        Buscatón tendrá un calendario y cupones con diseños especiales para que uses en estas fechas. Te avisaremos con 
        anticipación para que prepares la oferta mas conveniente. Posicionamos estas ofertas en los rubros y audiencias 
        acordes a cada celebración.
    </p>
    
    <p style="font-weight:bold;">12- Vidriera</p>
    <p>
        En esta sección vas a poder mostrar tus productos y servicios. Cualquier palabra que incorpores en tu vidriera formará 
        parte del motor de búsqueda del sitio.
    </p>
    
    <p>
        Podrás agrupar tu vidriera por categorías y cambiar el orden con solo arrastrarlas. Podrás borrarlas y editarlas las veces 
        que quieras! Una vez creadas las categorías, haciendo click en “Ver más” podrás incorporar los productos con su precio, 
        descripción e imagen (Optativo), Podrás cambiar el orden en que aparecen los producto con tan solo arrástralos. Y ademas, 
        indicar dentro de tu lista los 10 primeros productos y servicios que quieras que se destaquen.
    </p>
    
    <p>En caso de falta de stock podrás habilitar o deshabitar los productos en el momento que quieras sin necesidad de eliminarlo.</p>

    <h2>¿queres ser un comercio recomendado por buscatón?</h2>
    <br>
    <p>
        En la pagina principal buscatón publicita los comercios recomendados en cada rubro. 
        Seleccionamos aquellos comercios que hacen un buen uso de la vidriera digital, 
        muestren actividad en vidriera y promociones, cantidad y calidad de opiniones 
        de los usuarios y en la difusión que hagan de buscatón en sus redes sociales.
    </p>
    
    <p>El formar parte de un comercio recomendado aumentará el contacto con nuevos clientes!</p>
    
    <p>No cobramos por tu publicidad. Buscatón premia y reconoce aquellos comercios más comprometidos.</p>
  
  </div>

  <div id="footer-section" style="width:100vw;height:7vh;border-top: 1px solid rgba(0,0,0,.05);background-color:#faf9f9 !important;" id="footer">
    <ion-footer style="margin-top:50px;">
      <img src="../../assets/logo-orange.png">
      <h6>&copy;2011-{{currentDate}} buscaton.com</h6>
    </ion-footer>
  </div>
    
</ion-content>
