<ion-header>
    <ion-toolbar mode="ios" color="orange">
      <ion-buttons slot="end">
        <ion-icon id="closeModal" name="close" (click)="dismiss()"></ion-icon>
      </ion-buttons>
      <div (click)="dismiss()" [routerDirection]="'root'" routerLink="/home">
        <ion-img id="main-logo" src="../../assets/logo_white.png" alt="logo"></ion-img>
        <p id="main-title" style="position:absolute;top:2.2vh;">buscatõn</p>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
     
      <h1 style="text-align:center;font-size:22px;margin:30px 0;">
          <ion-text color="orange">Agregá una nueva categoría</ion-text>
      </h1>
    
      <ion-item style="width:80%;position:relative;left:10vw;">
        <ion-label position="floating">Nombre de la categoría</ion-label>
        <ion-input class="inputs" type="text"></ion-input>
      </ion-item>
    
      <ion-button color="primary" style="width:35vw;height:40px;margin-left:12vw;margin-right:4vw;margin-top:30px;">Agregar</ion-button>
      <ion-button (click)="dismiss()" color="primary" style="width:35vw;height:40px;margin-left:4vw;margin-top:30px;">Cancelar</ion-button>
  
  </ion-content>
  