#closeModal {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    position: relative;
    right: 10px;
}

.items{
    width: 80vw !important;
    position: relative !important;
    left: 10vw !important;
}

input {
    height:30px;
}