<div id="faq">

  <h1 text-center>Preguntas Frecuentes</h1>
  <div id="subtitle" style="width:90vw;margin-left:5vw;margin-bottom:10px;">
    <p text-center style="font-family:sans-serif;font-size:18px;margin-bottom:20px;">
      conocé todo lo que necesitás
      <br>
      saber sobre nosotros
    </p>
  </div>

  <div class="accordion" id="accordionExample">

        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <p class="main-topic btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Mi negocio no esta en buscatón,
                  <br>
                  ¿cómo lo registro?
              </p>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Súmate al más completo buscador de comercios minoristas barriales!
                <br>
                Si tu comercio no aparece en buscatón, podes registrarlo haciendo 
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <p class="main-topic btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                ¿Puedo registrar mas de un comercio a mi nombre?
              </p>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Si sos dueño de mas de un comercio podes registrarlos todos a tu nombre y administrarlos de forma individual. 
                Esto significa que puedes tenerlos todos bajo el mismo plan (ya sea módulo destacado o módulo vidriera digital) 
                o bajo diferentes planes (por ejemplo algunos en módulo destacado y otros en módulo vidriera digital).
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <p class="main-topic btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Si ya tengo mis propias redes, ¿Que beneficios me da sumarme a buscatón?
              </p>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                A diferencia de otras redes sociales tenemos un potente buscador barrial, 
                a partir del cual tus vecinos te pueden encontrar facilmente.
                <br>
                Ademas, podes armar una vidriera digital super completa totalmente gratis. 
                Incluso, si tu comercio ya figura en instagram, facebook, etc, podes incluir 
                tus paginas en nuestra plataforma y tener toda tu información en un solo lugar.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <p class="main-topic btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Debo pagar comisión por ventas al estar suscripto al modulo vidriera digital?
              </p>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                NO importa cuanto vendas. NO pagas comisiones por tus ventas. 
                Nuestros planes tienen precios fijos y NO te cobramos ningún 
                tipo de margen por tus ganancias!
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <p class="main-topic btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Quiero publicar promociones, 
                <br>
                ¿cómo funciona el proceso?
              </p>
            </h2>
          </div>
      
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                Contratar el modulo de vidriera digital te permite ofrecer 
                una amplia variedad de promociones dirigidas a los vecinos de tu barrio.
                <br>
                Una vez publicada tu promoción y cada vez los vecinos se interesen en 
                la misma podrán reservarla obteniendo un cupón (el mismo no constituye 
                un compromiso de compra). De manera simultánea recibirás un correo 
                electrónico con los datos personales del cliente que servirá para 
                constatar al momento que este lo presente en tu comercio.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingSix">
            <h2 class="mb-0">
              <p class="main-topic btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Quiero dar de baja del sitio a mi comercio
                <br>
                ¿cómo lo resuelvo?
              </p>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
                No pierdas la oportunidad de vender más y hacer crecer tu negocio. 
                El módulo destacado te permite hacerte conocer frente a los vecinos 
                de tu barrio y es GRATIS!
                <br>
                De todos modos podes canalizar tu pedido enviándonos un correo a 
                <a href="mailto:info@buscaton.com">info@buscaton.com</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
              <p class="main-topic btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                ¿Puedo cargar o modificar en todo momento los datos de mi comercio?
              </p>
            </h2>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
                Si, vos sos el administrador de tu sitio y podes modificarlo cuando quieras.
                <br>
                Es súper sencillo!
                <br>
                Ante cualquier duda podes escribirnos a 
                <a href="mailto:info@buscaton.com">info@buscaton.com</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingEight">
            <h2 class="mb-0">
              <p class="main-topic btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                ¿Tenés alguna duda o sugerencia para mejorar nuestro servicio?
              </p>
            </h2>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
              Si tenes alguna pregunta adicional o sugerencias para mejorar nuestro servicio envíanos un correo a 
              <a href="mailto:info@buscaton.com">info@buscaton.com</a>
              y te contactaremos a la brevedad.
            </div>
          </div>
        </div>

      </div>
</div>